* {
    margin: 0;
    padding: 0;
}

#root {
    position: absolute;
    right: 10px; top: 10px;
    padding: 10px;
    background: #fff;
}

canvas {
    width: 100vw;
    height: 100vh;
    vertical-align: top;
}

table {

}
tr {

}
th {
    text-align: left;
    padding-right: 10px;
}
td {

}

.Loading {
    position: absolute;
    z-index: 10;
    left: 0; right: 0;
    top: 0; bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #fff;

    transition: opacity 1s;
}
.Loading.-hidden {
    opacity: 0;

    pointer-events: none;
}
.Loading i {
    font-size: 50px;

    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
